﻿@model WebApp.Models.NodeConfig
<!-- begin master section -->
<div class="row">
    <div class="col col-lg-12 col-md-12">
<!--begin nodeconfig form  -->
<form id="nodeconfig_form" class="smart-form" method="post" novalidate >
@Html.AntiForgeryToken()
  <input type="hidden" id="@Html.IdFor(model => model.Id)" 
                       name="@Html.NameFor(model => model.Id)" 
                       value="@Html.ValueFor(model => model.Id)" />
 <fieldset>
     <div class="row">
			              <!--节点状态-->
            <section class="col col-6">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Node)</span> </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Node)
            </label>
            </section>
 		 
	    
			              <!--描述-->
            <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.Description) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Description)
            </label>
            </section>
 		 
	   </div>
	    
     <div class="row">
			  			<!--限期(天)-->
            <section class="col col-6">
            <label class="label"><span class="required">@Html.DisplayNameFor(model => model.Expires)</span> </label>
            <label class="label">
            @Html.DisplayFor(model => model.Expires)
			    </label>
            </section>
		 
	    
			              <!--授权角色-->
            <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.Roles) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Roles)
            </label>
            </section>
 		 
	   </div>
	    
     <div class="row">
			              <!--授权用户-->
            <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.Users) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.Users)
            </label>
            </section>
 		 
	    
			              <!--下个节点-->
            <section class="col col-6">
            <label class="label">@Html.DisplayNameFor(model => model.NextNode) </label>
            <label class="label">
			 @Html.DisplayFor(model => model.NextNode)
            </label>
            </section>
 		 
	   </div>
	    
	    
</fieldset>
</form>
<!-- end nodeconfig form  -->
</div>
</div>
<!-- end master section -->
<!--========================================================================================-->


